<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stat Personali</title>
    <link rel="stylesheet" href="../static/classifiche.css">
</head>
<body>
    <h1>Statistiche totali</h1>
    <table id = "classifica_grezza">
        <thead>
            <tr>
                <th onclick="sort('classifica_grezza', 0)">Giocatore</th>
                <th onclick="sort('classifica_grezza', 1)">Partite</th>
                <th onclick="sort('classifica_grezza', 2)">Gol</th>
                <th onclick="sort('classifica_grezza', 3)">Tiri</th>
                <th onclick="sort('classifica_grezza', 4)">Assist</th>
                <th onclick="sort('classifica_grezza', 5)">Recuperi</th>
                <th onclick="sort('classifica_grezza', 6)">Stoppate</th>
                <th onclick="sort('classifica_grezza', 7)">Espulsioni</th>
                <th onclick="sort('classifica_grezza', 8)">Palle Perse</th>
                <th onclick="sort('classifica_grezza', 9)">+/-</th>
            </tr>
        </thead>
        <tbody>
            {% for stats in classifica_grezza %}
            <tr>
                {% for s in stats %}
                <td>{{ s }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <h1>Statistiche per partita</h1>
    <table id = "classifica_partita">
        <thead>
            <tr>
                <th onclick="sort('classifica_partita', 0)">Giocatore</th>
                <th onclick="sort('classifica_partita', 1)">Partite</th>
                <th onclick="sort('classifica_partita', 2)">Gol</th>
                <th onclick="sort('classifica_partita', 3)">Tiri</th>
                <th onclick="sort('classifica_partita', 4)">Assist</th>
                <th onclick="sort('classifica_partita', 5)">Recuperi</th>
                <th onclick="sort('classifica_partita', 6)">Stoppate</th>
                <th onclick="sort('classifica_partita', 7)">Espulsioni</th>
                <th onclick="sort('classifica_partita', 8)">Palle Perse</th>
                <th onclick="sort('classifica_partita', 9)">+/-</th>
            </tr>
        </thead>
        <tbody>
            {% for stats in classifica_partita %}
            <tr>
                {% for s in stats %}
                <td>{{ s }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <h1>Statistiche avanzate</h1>
    <table id = "avanzate">
        <thead>
            <tr>
                <th onclick="sort('avanzate', 0)">Giocatore</th>
                <th onclick="sort('avanzate', 1)">Net Rating</th>
                <th onclick="sort('avanzate', 2)">% Gol</th>
                <th onclick="sort('avanzate', 3)">EFF</th>
                <th onclick="sort('avanzate', 5)">ATT</th>
                <th onclick="sort('avanzate', 6)">DEF</th>
                <th onclick="sort('avanzate', 6)">PM</th>
            </tr>
        </thead>
        <tbody>
            {% for stats in avanzate %}
            <tr>
                {% for s in stats %}
                <td>{{ s }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <p>Legenda:
        <ul>
            <li><strong>NET RATING</strong>:plus minus totale x 100 / possessi totali</li> 
            <li><strong>% GOL</strong>:gol x 100 / tiri</li> 
            <li><strong>EFF</strong>:(gol + assist + recuperi + stoppate - espulsioni - palle perse) / partite giocate</li> 
            <li><strong>ATT</strong>:gol e assist su 100 possessi</li> 
            <li><strong>DEF</strong>:stoppate e recuperi su 100 possessi</li> 
            <li><strong>PM</strong>:assist / palle perse</li> 
        </ul>
    </p>
    <br>
    <a href="http://localhost:5000/wp">Torna alla pagina principale</a>
    <br>
    <a id="guarda-db" href="http://localhost:5000/wp/db">Mostra il database</a>
    <script>


function sort(table_name, n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById(table_name);
    switching = true;
    // Set the sorting direction to ascending:
    dir = "desc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
        </script>
</body>
</html>
